*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a,
input[type="submit"],
input[type="button"],
button{
    text-decoration: none;
}
html{
	height: 100%;
}
html, body {
	min-height: 100%;
}
body {
	font:0.85em/1.3 Arial, sans-serif;
	margin: 0px;
	background: #f1f1f1;
    color: rgba(145,145,145,0.7);
}
.vr-header {
	padding-top: 40px;
}
.vr-form {
	margin: 0 auto;
	position: relative;
	width: 80%;
}
.vr-input {
	width: 100%;
	padding: 0 80px 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 7em;
	color: #ec5a62;
}
input[type="search"] { 
    -webkit-appearance: textfield;
    box-sizing: border-box;
}
.vr-input::-webkit-input-placeholder {
	color: #c2c2c2;
}
.vr-input:-moz-placeholder {
	color: #c2c2c2;
}
.vr-input::-moz-placeholder {
	color: #c2c2c2;
}
.vr-input:-ms-input-placeholder {
	color: #c2c2c2;
}
.vr-input:focus,
.vr-submit:focus {
	outline: none;
}
.vr-submit {
	cursor: pointer;
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(./img/11.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	transform-origin: 100% 50%;
	-webkit-transform: translate3d(0,-50%,0) scale(1);
	transform: translate3d(0,-50%,0) scale(1);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.vr-submit:hover {
	-webkit-transform: translate3d(0,-50%,0) scale(1.4);
	transform: translate3d(0,-50%,0) scale(1.4);
}
.vr-content {
	color: #333;
	margin-top: 40px;
	width: 100%;
	padding: 0 10.5%;
	font-size: 0;
}
.vr-aside {
	font-size: 1rem;
	width: 30%;
	padding: 0 0 6em;
	display: inline-block;
}
.vr-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.vr-aside:nth-child(2) {
	margin: 0 5%;
}
.vr-title {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
}
.vr-list a {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.05);
	color: rgba(145,145,145,0.7);
}
.vr-list a:hover{
	color: #EC5A62;
}
.vr-list a:hover,
.vr-list a:focus {
	background: rgba(118,117,128,0.1);
}
.vr-list img {
	display: inline-block;
	width: 50px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.vr-list h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: inherit;
}
.vr-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
@media screen and (max-width: 1000px) {
	.vr-input {
		padding: 0 40px 0 10px;
		font-size: 2em;
		-webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
		transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
	}
	.vr-aside {
		width: 100%;
		padding: 0 0 2em;
	}
	.vr-aside:nth-child(2) {
		margin: 0;
	}
	.vr-submit {
		-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);

	} 
}
